body {
    font-family: "Raleway", sans-serif !important;
    overflow: hidden !important;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    padding-top: 7%;
    width: 45%;
    float: left;    
}

.logo-container{
    border-right: 2px solid #fff;
    height: 80vh;
}

.content-container{
    padding-top: 0%;
    padding-top: 13%;
}

.App-logo {
    width: 160px;
    height: 160px;
    padding-top: 15%;
    margin-left: 8% !important;
}

.list-container{
    margin-top: 10%;
    padding-right: 3%;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-item {
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 10px;
    min-width: 50px;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
    margin-left: 1%;
    margin-top: 2%;
    font-weight: 100;
}

.joke {
    max-width: 47%;
    text-align: center;
    outline: none;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 10px;
    transition: all 0.4s ease-in-out;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 200px;
    border-radius: 5px;
    padding-top: 20px;
    font-weight: 100;
}

.paragraph{
    width: 85%;
    margin: auto;
    color: #fff;
    font-weight: 100;
    margin-top: 7% !important;
    text-align: justify;
}

@media screen and (max-width: 425px){
    .header{
        left: 50%;
        width: 100%;
        padding: 10% 0%;
    }

    .App-logo{
        height: 80px;
        width: 180px;
        margin: auto;
        display: flex;
        justify-self: center;
        display: none;
    }

    .content-container{
        width: 100%;
        padding-top: 10%;
    }

    .joke-container{
        width: 100%;
    }

    .joke{
        max-width: 80%;
        height: 150px;
    }

    .badge{
        display: none;
    }

    .logo-container{
        border-right: none;
        height: unset;
    }

    .paragraph{
        display: none;
    }

    .list-container{
        margin-top: 10%;
        padding: 0 !important;
        margin-left: -6%;
        margin-right: 6%;
    }

}

@media screen and (width: 414px){
    .header{
        width: 100%;
        padding: 10% 0%;
    }

    .App-logo{
        height: 80px;
        width: 180px;
        margin: auto;
        display: flex;
        justify-self: center;
        display: none;
    }

    .content-container{
        width: 100%;
        padding-top: 10%;
    }

    .joke-container{
        width: 100%;
        
    }  

    .joke{
        max-width: 80%;
        height: 150px;
    }

    .landing{
        display: block;
    }

    .list-container{
        margin-top: 10%;
        padding: 0 !important;
        margin-left: -6%;
        margin-right: 6%;
    }
}
